@page "/users/new"
@using System.ComponentModel.DataAnnotations
@using AutHome.Data
@using AutHome.Services
@inject NavigationManager NavigationManager

<PageTitle>New User</PageTitle>

<div class="new-user-form-container">
<AuthomeCard
	Title="New User"
	Icon="fa-user-plus"
	AccentColor="#a8165d">
	
	<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator />
		

		<div class="box m-2">
			<label for="firstName" class="form-label">First Name</label>
			<InputText id="firstName" class="form-control" @bind-Value="model.FirstName"/>
		</div>
	
		<div class="box m-2 mb-3">
			<label for="lastName" class="form-label">Last Name</label>
			<InputText id="lastName" class="form-control" @bind-Value="model.LastName"/>
		</div>

		<ValidationSummary />

		<div class="box m-2 mt-3">
			<AuthomeButton
				AccentColor="#a8165d"
				Icon="fa-plus"
				Text="Register"
				Type=@AuthomeButton.ButtonType.Submit/>
		</div>
	</EditForm>

</AuthomeCard>
</div>

@code
{
	private UserModel model = new();
	AuthomeContext ctx = null!;

	private void HandleValidSubmit()
	{
		ctx = new AuthomeContext();
		ctx.Users.Add(
			new User()
				{
					Id = Guid.NewGuid(),
					FirstName = model.FirstName,
					LastName = model.LastName,
					RegistrationDate = DateOnly.FromDateTime(DateTime.UtcNow.Date)
				}
		);
		ctx.SaveChanges();
		NavigationManager.NavigateTo("/users");
	}

	public class UserModel
	{
		[Required]
		public string FirstName { get; set; } = null!;
		[Required]
		public string LastName { get; set; } = null!;
	}
}