@page "/users/new"
@using System.ComponentModel.DataAnnotations
@using AutHome.Data
@using AutHome.Services

<PageTitle>New User</PageTitle>

<AuthomeCard
	Title="New User"
	Icon="fa-user-plus"
	AccentColor="#a8165d">
	
	<EditForm Model="@model" OnValidSubmit="@HandleValidSubmit">
		<DataAnnotationsValidator />
		<ValidationSummary />

		<div class="box m-2">
			<label for="firstName" class="form-label">First Name</label>
			<InputText id="firstName" class="form-control" @bind-Value="model.FirstName"/>
		</div>
	
		<div class="box m-2">
			<label for="lastName" class="form-label">Last Name</label>
			<InputText id="lastName" class="form-control" @bind-Value="model.LastName"/>
		</div>

		
		
		<div class="box m-2">
			<button type="submit" class="btn">Register</button>
		</div>
	</EditForm>

</AuthomeCard>


@code
{
	private UserModel model = new();
	AuthomeContext ctx;

	private void HandleValidSubmit()
	{
		ctx = new AuthomeContext();
		ctx.Users.Add(
			new User()
				{
					Id = Guid.NewGuid(),
					FirstName = model.FirstName,
					LastName = model.LastName,
					RegistrationDate = DateOnly.FromDateTime(DateTime.UtcNow.Date)
				}
		);
		ctx.SaveChanges();
		//Cambio interfaccia
	}

	public class UserModel
	{
		[Required]
		public string FirstName { get; set; } = null!;
		[Required]
		public string LastName { get; set; } = null!;
	}
}