.container
{
	padding: 1rem;
	display: grid;
	gap: 1rem;
}

.users-container
{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: stretch;
	align-content: flex-start;
	gap: 1rem;
}

.list-item
{
	flex: 1 0 16rem;
	max-width: 320px;
}
