@page "/users"
@using Data

<PageTitle>Users</PageTitle>

@if (users != null) {
    @if (users.Count() != 0) {
        @foreach (var user in users) {
            <AuthomeCard CardTitleIcon="fa-user" CardTitle=@user.FirstName>
                <h1>@user.FirstName</h1>
            </AuthomeCard>
        }
    } else {
        <p>No user registered</p>
    }
} else {
    <p>No data</p>
}

@code {
    IEnumerable<User>? users;

    protected override Task OnInitializedAsync()
    {
        using var ctx = new AutHomeContext();
        users = ctx.Users.ToList();
        return Task.CompletedTask;
    }
}
