@page "/users"
@using Data

<PageTitle>Users</PageTitle>

@if (users != null) {
    @foreach (var user in users) {
        <UserCard User=user/>
    }
    <AddUserCard/>
} else {
    <p class="h3">Retrieving data from server...</p>
}

@code {
    IEnumerable<User>? users;
    AuthomeContext ctx;

    protected override Task OnInitializedAsync()
    {
        ctx = new AuthomeContext();
        users = ctx.Users.ToList();
        return Task.CompletedTask;
    }
}
