@page "/users"
@using Data

<PageTitle>Users</PageTitle>

@if (users != null) {
    @if (users.Count() != 0) {
        @foreach (var user in users) {
            <UserCard User=user>
                @if (image != null)
                {
                    <img src=@image.Path/>
                }
            </UserCard>
        }
    } else {
        <p>No user registered</p>
    }
} else {
    <p>No data</p>
}

@code {
    IEnumerable<User>? users;
    FingerImage? image;

    protected override Task OnInitializedAsync()
    {
        using var ctx = new AuthomeContext();
        users = ctx.Users.ToList();
        image = ctx.Images.First();
        return Task.CompletedTask;
    }
}
