/* _content/AutHome/Pages/Dashboard.razor.rz.scp.css */
*[b-lk68mfhes0]{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Josefin Sans', sans-serif;
}

.wrapper[b-lk68mfhes0] {
    
    background: #404A80;
}

.container .card[b-lk68mfhes0] {
    border-radius: 15px;
    background: #404A80;
    border: none;
}

.container .card:hover[b-lk68mfhes0] {
    border: 2px white solid;
}

.container .card .card-header[b-lk68mfhes0] {
    background: #404A80;
    font-size: 23px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.container .card .card-body[b-lk68mfhes0] {
    background: #404A80;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 100px;
    font-size: 20px;
}
/* _content/AutHome/Shared/AuthomeCard.razor.rz.scp.css */

.card[b-hpgsxi9nqj] {
    border-radius: 15px;
    background: #404A80;
    border: none;
}

.card:hover[b-hpgsxi9nqj] {
    border: 2px white solid;
}

.card .card-header[b-hpgsxi9nqj] {
    background: rgb(65, 85, 195);;
    font-size: 23px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card .card-body[b-hpgsxi9nqj] {
    background: rgb(65, 85, 195);;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 100px;
    font-size: 20px;
}
/* _content/AutHome/Shared/NavMenu.razor.rz.scp.css */
.navbar[b-rt4y2pgv2l] {
    background: rgb(65, 85, 195);
}

.navbar-brand[b-rt4y2pgv2l] {
    padding-bottom: 0px;
    font-size: 35px;
    font-weight: bolder;
}

.nav-item:hover .nav-link[b-rt4y2pgv2l]{
    color: #ffffff;
}
