.card
{
    border-radius: 0.6rem;
    background: #232323;
    transition: all 0.1s cubic-bezier(.25,.8,.25,1);
    box-shadow: 0 0 2px rgba(0,0,0,0.125);
    border: none;
    color: white;
    width: inherit;
}

.card:hover
{
    box-shadow: 0 0 20px var(--accent-color);
    border: none;
}

.card .card-body
{
    padding: 0;
}

.card .card-header
{
    box-shadow: 0 0 0.2rem rgba(0,0,0,0.25);
    border: none;
    border-radius: 0.6rem;
    background: var(--accent-color);
    font-size: 1.5rem;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    width: inherit;
}
