<div class="card" style="--accentColor: @AccentColor;">
    <div class="card-header">
        <span class="fa-solid @Icon"></span> @Title
    </div>
    <div class="card-body text-center">
        @ChildContent
    </div>
</div>

@code {
    [Parameter]
	public string AccentColor { get; set; } = "#4155c3";

	[Parameter]
	public string Icon { get; set; } = "fa-address-card";

	[Parameter]
	public string Title { get; set; } = "This is a card";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}