<AuthomeCard Icon="fa-droplet" Title=@DeviceName AccentColor=@OutputAccentColor >
    <div class="text-center m-2">
        <p class="h1">@OutputContent</p>
    </div>
</AuthomeCard>

@code {
	[Parameter]
    public string DeviceName { get; set; } = "Device";

    [Parameter]
    public string AccentColor { get; set; } = "#de922f";

    [Parameter]
    public double? InputHumidity { get; set; }

    public string OutputAccentColor => (InputHumidity == null) ? "#F01E02" : AccentColor;

    private string OutputContent => InputHumidity == null ? "-" : $"{InputHumidity.Value:F1} %";
}
