@using Data

<AuthomeCard Icon="fa-user" Title=@Title>
	<p class="h3">@SignInInfo</p>
	@if (User.ImageIndex != null)
	{
		<img src=@User.FingerImage.Path/>
	}
	else
	{
		<p class="h3">No finger image found.</p>
		<a href="/user/@User.Id.ToString("n")/register">Register</a>
	}
</AuthomeCard>

@code {
	[Parameter]
	public User User { get; set; } = null!;

	private string Title => $"{User.FirstName} {User.LastName}";

	private string SignInInfo => $"Signed on {User.RegistrationDate}";
}